# Hide Saves from Repo
saves/

scripts/general/functions.rpyc
scripts/general/script.rpyc
scripts/general/minigames.rpyc

scripts/chapter_one/chapter_one.rpyc
scripts/chapter_one/chapter_one_functions.rpyc

scripts/chapter_one/chapter_secret_one.rpyc
scripts/chapter_one/chapter_secret_one_functions.rpyc

scripts/chapter_two/chapter_two.rpyc
scripts/chapter_two/chapter_two_functions.rpyc

scripts/chapter_three/chapter_three.rpyc
scripts/chapter_three/chapter_three_functions.rpyc
scripts/chapter_three/chapter_three_fnaf_functions.rpyc

scripts/chapter_four/chapter_four.rpyc
scripts/chapter_four/chapter_four_functions.rpyc

settings/gui.rpyc
settings/options.rpyc
settings/screens.rpyc

renpy-discord-presence/
python-packages/
