# Hide Saves from Repo
game/saves/
game/tmp/
game/cache/

*.rpyc
*.rpyb
*.rpymc
*.bak
game/action_editor/
game/renpy-discord-presence/
game/python-packages/

lint.txt
trackback.txt
errors.txt
log.txt
project.json